$primario:#004967;
$secundario:#343A40;
$texto:#F8F9FA;
$tres:#0275D8;
$cuatro:#564243;



/*+++++++++++++++++++++++++++++++++++++++++++
-------------CONTENIDO SUPERIOR--------------
++++++++++++++++++++++++++++++++++++++++++++*/

.cabeza-contenido .titulo{
        border-left-width: 0px;
        padding-left: 0;
}

.cabeza-contenido .separador-contenido{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    height: 5px;
    width: 20%;
    background: $primario;
}

.foto p{
    background-color: $primario;
    border-radius: 8rem;
    height: 10rem;
    width: 10rem;
    margin: auto;
}

.linea-tiempo td{
    display: flex;
    flex-direction: row;
    padding-right: 0;
    
}
.linea-tiempo .linea{
    display: inline-block;
    height: .8rem;
    width: 90%;
    border: solid;
    border-color: gray;
    border-radius: 2rem;
    border-width: 1px;
    margin: auto ;
}
.punto{
    display: inline-block;
    background-color: $primario;
    border-radius: 2rem;

    height: 1.5rem;
    width: 1.5rem;
    margin: auto 0 auto .5rem; 
}

@media (min-width:768px){
    .trayectoria{
            display: table !important
    }
    
}